<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="refresh" content="4000">
  <title>DCLBuilderAI</title>

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

  <!-- bootstrap-->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  <!-- codemirror -->
  <script src="codemirror/lib/codemirror.js"></script>
  <link href="codemirror/lib/codemirror.css" rel="stylesheet" />
  <script src="codemirror/mode/javascript/javascript.js"></script>

  <script src="codemirror/addon/edit/closetag.js"></script>
  <script src="codemirror/addon/display/autorefresh.js"></script>

  <!-- themes files -->
  <!-- <link href="codemirror/theme/dracula.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="codemirror/theme/3024-day.css" />

  <link rel="stylesheet" href="codemirror/theme/3024-day.css" />
  <link rel="stylesheet" href="codemirror/theme/3024-night.css" />
  <link rel="stylesheet" href="codemirror/theme/abbott.css" />
  <link rel="stylesheet" href="codemirror/theme/abcdef.css" />
  <link rel="stylesheet" href="codemirror/theme/ambiance.css" />
  <link rel="stylesheet" href="codemirror/theme/ayu-dark.css" />
  <link rel="stylesheet" href="codemirror/theme/ayu-mirage.css" />
  <link rel="stylesheet" href="codemirror/theme/base16-dark.css" />
  <link rel="stylesheet" href="codemirror/theme/bespin.css" />
  <link rel="stylesheet" href="codemirror/theme/base16-light.css" />
  <link rel="stylesheet" href="codemirror/theme/blackboard.css" />
  <link rel="stylesheet" href="codemirror/theme/cobalt.css" />
  <link rel="stylesheet" href="codemirror/theme/colorforth.css" />
  <link rel="stylesheet" href="codemirror/theme/dracula.css" />
  <link rel="stylesheet" href="codemirror/theme/duotone-dark.css" />
  <link rel="stylesheet" href="codemirror/theme/duotone-light.css" />
  <link rel="stylesheet" href="codemirror/theme/eclipse.css" />
  <link rel="stylesheet" href="codemirror/theme/elegant.css" />
  <link rel="stylesheet" href="codemirror/theme/erlang-dark.css" />
  <link rel="stylesheet" href="codemirror/theme/gruvbox-dark.css" />
  <link rel="stylesheet" href="codemirror/theme/hopscotch.css" />
  <link rel="stylesheet" href="codemirror/theme/icecoder.css" />
  <link rel="stylesheet" href="codemirror/theme/isotope.css" />
  <link rel="stylesheet" href="codemirror/theme/juejin.css" />
  <link rel="stylesheet" href="codemirror/theme/lesser-dark.css" />
  <link rel="stylesheet" href="codemirror/theme/liquibyte.css" />
  <link rel="stylesheet" href="codemirror/theme/lucario.css" />
  <link rel="stylesheet" href="codemirror/theme/material.css" />
  <link rel="stylesheet" href="codemirror/theme/material-darker.css" />
  <link rel="stylesheet" href="codemirror/theme/material-palenight.css" />
  <link rel="stylesheet" href="codemirror/theme/material-ocean.css" />
  <link rel="stylesheet" href="codemirror/theme/mbo.css" />
  <link rel="stylesheet" href="codemirror/theme/mdn-like.css" />
  <link rel="stylesheet" href="codemirror/theme/midnight.css" />
  <link rel="stylesheet" href="codemirror/theme/monokai.css" />
  <link rel="stylesheet" href="codemirror/theme/moxer.css" />
  <link rel="stylesheet" href="codemirror/theme/neat.css" />
  <link rel="stylesheet" href="codemirror/theme/neo.css" />
  <link rel="stylesheet" href="codemirror/theme/night.css" />
  <link rel="stylesheet" href="codemirror/theme/nord.css" />
  <link rel="stylesheet" href="codemirror/theme/oceanic-next.css" />
  <link rel="stylesheet" href="codemirror/theme/panda-syntax.css" />
  <link rel="stylesheet" href="codemirror/theme/paraiso-dark.css" />
  <link rel="stylesheet" href="codemirror/theme/paraiso-light.css" />
  <link rel="stylesheet" href="codemirror/theme/pastel-on-dark.css" />
  <link rel="stylesheet" href="codemirror/theme/railscasts.css" />
  <link rel="stylesheet" href="codemirror/theme/rubyblue.css" />
  <link rel="stylesheet" href="codemirror/theme/seti.css" />
  <link rel="stylesheet" href="codemirror/theme/shadowfox.css" />
  <link rel="stylesheet" href="codemirror/theme/solarized.css" />
  <link rel="stylesheet" href="codemirror/theme/the-matrix.css" />
  <link rel="stylesheet" href="codemirror/theme/tomorrow-night-bright.css" />
  <link rel="stylesheet" href="codemirror/theme/tomorrow-night-eighties.css" />
  <link rel="stylesheet" href="codemirror/theme/ttcn.css" />
  <link rel="stylesheet" href="codemirror/theme/twilight.css" />
  <link rel="stylesheet" href="codemirror/theme/vibrant-ink.css" />
  <link rel="stylesheet" href="codemirror/theme/xq-dark.css" />
  <link rel="stylesheet" href="codemirror/theme/xq-light.css" />
  <link rel="stylesheet" href="codemirror/theme/yeti.css" />
  <link rel="stylesheet" href="codemirror/theme/idea.css" />
  <link rel="stylesheet" href="codemirror/theme/darcula.css" />
  <link rel="stylesheet" href="codemirror/theme/yonce.css" />
  <link rel="stylesheet" href="codemirror/theme/zenburn.css" />

  <!-- select 2 -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <link rel="stylesheet" href="css/style.css" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css" />

  <!-- sweet alerts -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>

</head>

<body>
  <div class="main-20ul">
    <div class="wrapper">
      <nav class="navbar container-fluid d-flex justify-content-between align-items-center">
        <h1 class="navheading">DCLBuilderAI</h1>
        <ul class="nie-left">
          <li class="list-nav">
            <li class="list-nav"><a class="anker-aa" href="#">Connect Wallet</a></li>&nbsp;
            &nbsp;&nbsp;<li class="list-nav"><a class="anker-aa" target="_blank" href="https://github.com/DCLBuilderAI/DCLBuilderAI">Docs &#x2197;</a></li>&nbsp;
            &nbsp;&nbsp;<li class="list-nav"><a class="anker-aa" target="_blank" href="https://discord.gg/Rcqdzp6dqK">Discord</a></li>

            <div class="dropdown">
              <!-- <a href="javascript:void(0)" class="anker-aa dropdown-toggle" type="button" id="dropdownMenu2"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reward
              </a> -->
              <!-- <div class="dropdown-menu dropcustom" aria-labelledby="dropdownMenu2">
                <a href="#" class="dropdown-item btn">LINK 1</a>
                <a href="#" class="dropdown-item btn">LINK 2</a>
                <a href="#" class="dropdown-item btn">LINK 3</a>
              </div> -->
            </div>
          </li>
          <!-- <li class="list-nav">
            <div class="dropdown">
              <a href="javascript:void(0)" class="anker-aa dropdown-toggle" type="button" id="dropdownMenu2"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Label 2
              </a>
              <div class="dropdown-menu dropcustom" aria-labelledby="dropdownMenu2">
                <a href="#" class="dropdown-item btn">LINK 1</a>
                <a href="#" class="dropdown-item btn">LINK 2</a>
                <a href="#" class="dropdown-item btn">LINK 3</a>
              </div>
            </div>
          </li>
          <li class="list-nav">
            <a class="anker-aa" href="#Invester">Invester</a>
          </li> -->
        </ul>
      </nav>
    </div>
  </div>
  <div class="wrapper">

    <div class="upper-container">
      <div class="inner-container">
        <div class="side-nav">
          <div class="nav-editor">
            <div id="main-resize-custom-input">
              <textarea id="elemprompt" class="elemprompt" cols="30" rows="4" placeholder="Generate a Cube"
                maxlength="200" onkeyup='setElemPrompt(this, "#txtlenght")'></textarea>
              <p style="margin: 0;" class="text-right side-nav-char"><span id="txtlenght">0</span>/200</p>
            </div>
            <div class="mt-2 mb-4 d-flex justify-content-between align-items-center">
              <div>
                <button class="btn-02 btn-2" id="generateCode">
                  Generate (A)
                </button>
                <button class="btn-02 btn-2" id="generateCodeB">
                  Generate (B)
                </button>
                <button class="btn-02 btn-2" id="generateCodeC">
                  Generate (C)
                </button>
                <button class="btn-02 btn-2" id="generateCodeD">
                  Generate Model
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container-fluid page">



    </div>
  </div>
  <div class="code-mirror">

    <div class="code-area">
      <div class="mi-inter-cla">

        <div class="side-navbar-09">

          <li class="list-nav me-niw-sidebar">
            <a class="anker" href="#Save" id="downloadCode" data-toggle="tooltip" data-placement="bottom"
              title="Download Script">
              <span class="mdi mdi-content-save-move-outline save1"></span>
              Save
            </a>
          </li>

          <li class="list-nav me-niw-sidebar">
            <a class="anker" href="#Clear" id="hide" data-toggle="tooltip" data-placement="bottom" title="Clear Script">
              <span class="mdi delet-icon mdi-delete delet1"></span>
              Clear
            </a>
          </li>

          <li class="list-nav me-niw-sidebar">
            <a class="anker" href="#Clear" id="copytoclip" data-toggle="tooltip" data-placement="bottom"
              title="Copy to Clipboard">
              <span class="mdi delet-icon mdi-content-copy delet1"></span>
              Copy
            </a>
          </li>
        </div>



        <div class="code-inter-23">
          <div class="idit-not">
            <button class="btn btn-check" id="sweetsuccess">
              <span class="mdi mdi-check tick"></span>
            </button>
            <button class="btn btn-cross" id="sweetdanger">
              <span class="mdi mdi-close-box chek-not"></span>
            </button>
          </div>

          <div class="text-eid">

            <div class="xl-9812">
              <div class="nave-bar flex-column">
                <div class="flex-inhrit8">
                  <div>
                    <ul class="inhirit-ul">

                      <ul class="nav nav-pills" id="tabappendedi">
                        <li class="nav-item">
                          <a class="nav-link openTab active" data-toggle="pill" value="tab001" href="#tab001">Script
                            1</a>
                        </li>
                      </ul>

                      <li class="list-nav">
                        <select class="themeselect" name="" id="changeTheme">
                          <option value="idea" selected>Idea</option>
                          <option value="paraiso-light">Paraiso Light</option>
                          <option value="duotone-light">Duotone Light</option>
                          <option value="neo">Neo</option>
                          <option value="neat">Neat</option>
                          <option value="twilight">Twilight</option>
                          <option value="xq-light">Xq Light</option>
                          <option value="3024-day">3024 Day</option>
                          <option value="dracula">Dracula</option>
                        </select>
                      </li>
                  </div>

                  <div>
                    <div class=""></div>
                    <div class="btn-code flex align-items-center">
                      <button class="btn-04 btn-4">Preview</button>
                    </div>
                  </div>
                </div>

                </ul>
              </div>

            </div>
          </div>

          <div class="inner-code01 flex-column">
            <div class="eadi-miror">
              <!-- Tab panes -->
              <div class="tab-content" id="appendeditor">
                <div class="tab-pane TabEditor active" id="tab001" value="0">
                  <textarea id="editor001">/** This is editor 1 **/
var global_var = 10
</textarea>
                  <input type="hidden" value="0" class="inp">
                </div>
              </div>

            </div>
            <div class="foot-btn d-flex justify-content-between align-items-center">
              <!-- <div class="but-fix">
                <button class="btn-02 btn-2">Shorten</button>
                <button class="btn-05 btn-5">Fix</button>
              </div> -->
              <div>
                <p style="margin: 0;" class="text-right"><span id="editorMaxVal">0</span>/5000</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="sec-09-pro">

        <div class="code-area">
            <div class="studio-btn align-items-center">
                <div class="idit-not">

                    <button class="btn btn-check" id="sweetsuccess">
                        <span class="mdi mdi-check tick"></span>
                    </button>
                    <button class="btn btn-cross" id="sweetdanger">
                        <span class="mdi mdi-close-box chek-not"></span>
                    </button>
                </div>

               <div class="">

               </div>
                <div class="btn-code flex align-items-center">
                    <a class="open-it" id="open" href="/" download>Download File (.glb)</a>

                </div>
            </div>
            <style>
            model-viewer {
              width: 700px;
              height: 600px;
              justify-content: center;
              align-items: center;
            }
            #default-progress-bar .bar {
                background-color: #fff !important;
            }
            a:hover {
              text-decoration: none;
              color: #fff;
            }
            .default-progress-bar {
            display: flex;
            justify-content: center;
            align-items: center;
            }
            #default-progress-bar > .bar {
            top: initial !important;
            left: initial !important;
            }

            .eadi-miror{position: relative; height: 600px;align-items: center;border-radius: 5px;}
            .loaderanim1 {position: absolute; top: 0; left: 0; width: 700px; height: 600px; display: flex; justify-content: center; align-items: center;}
            .loaderanim {position: absolute; top: 0; visibility: hidden; left: 0; width: 700px; height: 600px; display: flex; justify-content: center; align-items: center;}
            .loaderanim img {width: 100px; }
            </style>
            <div class="inner-ui-2">


              <!-- Import the component -->
              <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
              <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
              <!-- Use it like any other HTML element -->
              <model-viewer id="mv-demo" shadow-intensity="1" src="file22.glb"
              shadow-intensity="1" camera-controls touch-action="pan-y" generate-schema></model-viewer>
              <div class="loaderanim1" id="loadi">Your model will be generated here</div>
              <div class="loaderanim" id="load"><img src="img/dark-loader.gif"></div>

        </div>
    </div>
      </div>


    </div>
  </div>
  </div>
  </div>

  <script src="js/main.js"></script>
</body>

</html>
