
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300&family=Montserrat:wght@400;500&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #c5c6c7;

}
.flex-inhrit8 {
  display: flex;
  justify-content: space-between;
}
.code-inter-23 {
  width: 100%;
}
.upper-container {
  display: flex;
    align-items: center;
    justify-content: center;
}
.code-mirror {
  width: 100%;
  display: flex;
  padding-bottom: 75px;
}
.sec-09-pro{

    width: 45%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.inner-ui-2 {
  border: 1px solid #9e9e9e73;
  width: 88%;
  height: 84%;
  /* box-shadow: 0 0 10px #ded9d994; */
  background: #f7f5f23d;
  padding: 12px 21px;
}
.side-navbar-09 {
  width: 52px;
  border: 1px solid #cfd0d136;
  margin-top: 48px;
    height: 520px;
    background-color: #f7f5f2;
    padding: 5px;
}
.mi-inter-cla {
  display: flex;
}
.but-fix{
  margin-left: -49px

}
.main-20ul{border-bottom: 1px solid #80808029;}
.dropdown-item:focus, .dropdown-item:hover{
  background-color: #f0ece6 !important;
  color: #2f3333d1;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(36 131 234 / 92%) !important;
}
.btn {
  border-radius: 0% !important;
}
.dropdown-menu {
  border-radius: 0% !important;
}

.flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.dis-play-09 {
  display: flex;
}


.wrapper {
  width: 85%;
  margin: auto;
}
.navheading {
  font-size: 27px;
  color: #1e1919;
}
.inner-container {
  padding-top: 43px;
    width: 30%;
    /* border-right: 1px solid #cfd0d136; */
    justify-content: center;
    /* align-items: center; */
    display: flex;

}
.side-nav {
  width: 100%;
}
.side-nav h1{
  font-size: 27px;
}
.nav-editor {
  position: relative;
  width: 430px;
}
.elemprompt  {
  padding: 6px 13px;
  border-width: 1px ;

  resize: none ;
  width: 99% ;
  /* height: 120px ; */
  height: 70px;

  border: 1px solid #1a1d21;
  margin-top: 6px;
  color: #aaaaaa;

}
.side-nav-char {
  position: absolute;
  right: 0;
}
.elemprompt:focus {

    outline: 0;
    box-shadow: 0 0 0 3px #428bff;
}
.sho3-button {
  color: #fff;
  background: #0061fe;
  border: 1px solid #0061fe;
  /* margin-top: 20px; */
  /* margin-bottom: 15px; */
  padding: 6px 12px;


  }
  .btn-03 {
    width: 117px;
    height: 35px;
   border: none;
    background-color: #e8e7e5eb;
    color: rgb(49, 48, 48);
     font-size: 13px;
    /* font-weight: bold; */
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .btn-03:hover{
    color: rgb(49, 48, 48);
  }
  .btn-1::before{
    content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: #9b9b9b;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: all 0.3s;
  }

  .btn-1:hover::before{
    height: 100%;

  }
  .btn-02 {
    width: 75px;
    height: 35px;
   border: none;
    background-color: #e8e7e5eb;
    color: rgb(49, 48, 48);
     font-size: 13px;
    /* font-weight: bold; */
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .btn-02:hover{
    color: rgb(49, 48, 48);
  }
  .btn-2::before{
    content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: #9b9b9b;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: all 0.3s;
  }

  .btn-2:hover::before{
    height: 100%;

  }
  .btn-04 {
    width: 117px;
    height: 35px;
   border: none;
    background-color: #0061fee6;
    color: #fff;
     font-size: 13px;
    /* font-weight: bold; */
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .btn-04:hover{
    color: #fff;
   background-color: #176efcd6;
  }
  .btn-4::before{
    content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: #13010c;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: all 0.3s;
  }

  .btn-4:hover::before{
    height: 100%;

  }
  .btn-05 {
    width: 42px;
    height: 35px;
   border: none;
    background-color: #e8e7e5eb;
    color: rgb(32, 30, 30);
     font-size: 13px;
    /* font-weight: bold; */
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .btn-05:hover{
    color: rgb(49, 48, 48);
  }
  .btn-5::before{
    content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: #9b9b9b;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: all 0.3s;
  }

  .btn-5:hover::before{
    height: 100%;

  }
  .button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .button2 {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .int-btn-09 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 2px 0;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
  }

  .bol-1, .bol-2, .bol-3 {
    color: #fff;
    font-size: 12px;
    padding-left: 17px;
    border-radius: 35px;
    padding-right: 17px;
    background-color: #1d1f22;
    border: 1px solid #80838066;
  }

  .bol-1:hover {
    border-color: #4CAF50;
  }

  .bol-2:hover {
    border-color: #008CBA;
  }

  .bol-3:hover {
    border-color: #b69543;
  }


  .bol-1 img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    border-radius: 15px;
  }

  .bol-2 img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    border-radius: 15px;
  }

  .bol-3 img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    border-radius: 15px;
  }



.ul-xs101 {

    margin-top: 22px;
}

.code-area {
  width: 55%;
  padding-left: 31px;
  padding-right: 20px;

}
.idit-not {
  margin-left: -7%;
  margin-top: 7px;

}
.nie-left {
  margin-right: 200px;
  margin-bottom: 0;
  display: flex;
}
.studio-btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.btn-code {
    float: left;

}

.text-eid {
    display: flex;
    justify-content: center;
    align-items: center;

}
.xl-9812 {
    width: 100%;
    border-left: 1px solid #cfd0d136;
    border-top: 1px solid #cfd0d136;
    border-right: 1px solid #cfd0d136;
}

.inhirit-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .anker{
    color: gray;
  }
  .anker:hover {
    color: #4d4b4b;
    text-decoration: none;

  }
  .anker:focus{
    color: #252525;
    text-decoration: none;

  }
  .anker-aa {
    color: #2f3333;

  }
  .anker-aa:hover {
    color: #2f3333;
    text-decoration: none;

    border-width: 2px;
  }
  .anker-aa:focus{
    color: #2f3333;
    text-decoration: none;

  }
  .nave-bar{
    background-color:  #eae9e7;
    padding: 17px;
    display: flex;
    justify-content: space-between;
  }
  .list-nav{
    list-style: none;
    padding: 3px;
    text-align: center;
  }

  .edit1 {
    color:#26aa5a;
    font-size: 15px;
    padding-right: 3px;
  }
  .pencile1 {
    color:#f3ca63;
    font-size: 15px;
    padding-right: 3px;
  }
  .save1 {
    color:#0a76b7;
    font-size: 15px;
    padding-left: 5px;
  }
  .delet1 {
    color: #e97b58;
    font-size: 15px;
    padding-left: 5px;
  }
  .nav-tabs {
    border-bottom: 1px solid  #1a1d21;
    background: #0a09091a;
  }
  .nav-tabs li a{
    color:#03a9f4;
  }
  .tabs-65 {

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inter-tabs-65 {
    width: 80%;
    border-left: 1px solid #cfd0d136;
    border-right: 1px solid #cfd0d136;
  }
  .inner-code01 {

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .eadi-miror {
    width: 100%;

  }
  .CodeMirror-scroll {
    border-left: 1px solid #cfd0d136;
    border-right: 51px solid #cfd0d136;
  }
  .chek-not {
    color: #ea4240;
    font-size: 25px;
  }
  .tick {
    color: #26aa5a;
    font-size: 25px;
  }

  .btn-check, .btn-cross {
    padding: 0 !important;
    transition: 0.2s;
  }
  .btn-check {margin-right: 10px;}

  .btn-check:hover, .btn-cross:hover {
    transform: scale(1.2);
  }

 .TabEditor {
  border: 1px solid #eae9e7f5;
  border-left: none;
 }





  .CodeMirror-scroll {
    border: none;
  }
.foot-btn {
  margin-top: 15px;
  width: 100%;
}
.button-btn1 {
  box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
}
.sho3 {
  color: #fff;
  background: #26aa5a;
  border: 1px solid #26aa5a;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 5px 10px;
  border-radius: 5px;
}
.dropcustom {
  background: #fbfaf9;
  border: 1px solid #80808024;
 box-shadow: 0 0 10px #ded9d994;
}
.dropcustom a{
  color: #2f3333d1;
  font-size: 14px;
}
.dropcustom a:hover{
  color: #2f3333d1;
  background-color: #f0ece6;
}

.themeselect {
  width: 200px;
  background: #e6e6e6;
}
.select2-container--open .select2-dropdown--below {background-color: #e6e6e6;}
.select2-container--default .select2-selection--single  {
  background: #282a3600;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {background: #80808024;
color:#797272}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: gray;
}
.select2-results__option {color: #000}

.swal-footer {
  display: flex;
  justify-content: center;
}


.customMirror {
  margin-left: 29px !important;
  margin-bottom: -15px !important;
  border-right-width: 35px !important;
  min-height: 388px !important;
  min-width: 285.203px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
}

.nav-link.openTab {
  padding: 3px 7px !important;
  color: #898686;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: #cfcccc !important;
  color: #4d4b4b !important;
}
.nav-link.openTab:hover {
  color: #4d4b4b;
}

  @media (max-width: 1024px) {
    .wrapper {width: 95%}
    .idit-not {
      margin-left: -5%;
    }
    .flex-inhrit8 {
      display: block;
    }
    .nave-bar {padding: 15px 5px;}
    .anker-aa:hover {
      border-bottom: none;
    }
    .anker:hover {
      border-bottom: none;
    }
    .page {
      margin-top: 0;
      width: 100%;
      display: block;


  }
  .nie-left {
    margin-right: 0;
  }
  .inner-container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .side-nav h1 {
    margin-top: 65px;
  }
  .code-area{
    width: 100%;
    padding: 35px 0px;
  }
  .inner-container{
      border: none !important;
  }
  .xl-9812, .inter-tabs-65, .eadi-miror {
    width: 100%;
  }
  .studio-btn {
    width: 100% !important;
  }
  .open-it {
    margin-right: 0px ;
  }
  .list-nav {
    padding: 6px;
  }
  .nav>li>a {
    padding: 3px 7px;
  }
  .inhirit-ul {
    display: block;
  }
  .nav-editor {
    width: 100%;
  }
  .side-navbar-09{
    height: 582px;
  }
  .code-mirror {
display: block;
  }
  .inner-ui-2 {
    border: 1px solid #80808029;
    width: 88%;
    height: 84%;

    background: #f7f5f229;
}
.sec-09-pro{
  width: 100%;
  height: 470px;
}
  }

  @media (max-width: 320px)
  {
    .side-navbar-09 {
      height: 582px;

  }
  .idit-not {
    margin-left: -15%;
  }
}
